@charset "utf-8";

html {
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
Verdana,
"ＭＳ Ｐゴシック",
sans-serif;
$blue1: #42b9d0;
$blue2: #339fd1;
$gray_blue: #eaf2f4;

header .container {
    background: #aaa;
}

#maincontents .nine {
    background: #bbb;
}

#sidemenu {
    background: #ccc;
}

footer .container {
    background: #ddd;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/**************************************/

header {
    background: #aaa;

    #header_in {
        padding-top: 10px;
        padding-bottom: 4px;


        h1 {
            text-align: center;
        }
        .navi {
            .sp_navi {
                font-size: 0;
            }
            @media (min-width: 550px) {
                .sp_navi {
                    display: none;
                    ul {
                        padding-left: 0;

                        /* ★これを追加、それ以外は上記と全く同じ */
                        font-size: 0;
                        text-align: center;
                    }

                }
            }
            @media (max-width: 549px) {
                .pc_navi {
                    display: none;
                    ul {
                        padding-left: 0;

                        /* ★これを追加、それ以外は上記と全く同じ */
                        font-size: 0;
                        text-align: center;
                    }

                }
            }

        }

    }


    #menu {
        cursor: pointer;
    } // .sp_menu_toggle {
    //  display: none;
    //  position: absolute;
    //  top:50px;
    //  right:2%;
    //   li {
    //       font-size: 16px;
    //       background: #aaa;
    //       margin: 10px;
    //       padding: 10px;
    //       display: inline-block;
    //       box-sizing: border-box;
    //   }
    //  }
    .pc_navi {
        font-size: 0;
    }

    @media (max-width: 550px) {
        .box {
            width: calc(100% - 20px);
        }
    }

    ul {
        padding-left: 0;
        /* ★これを追加、それ以外は上記と全く同じ */
        font-size: 0;
    }

    li {
        font-size: 16px;
        background: #aaa;
        margin: 4px;
        padding: 7px;
        display: inline-block;
        box-sizing: border-box;
    }

    li.navi_menu_login a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/menu_icon.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/menu_icon@2x.png");

        }
    } // .li.navi_menu_login a
    li.navi_menu_cart a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/menu_icon.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/menu_icon@2x.png");

        }

    } // .li.navi_menu_cart a
    li.navi_menu_mypage a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/menu_icon.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/menu_icon@2x.png");

        }

    } // .li.navi_menu_mypage a
    li.navi_menu_guide a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/menu_icon.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/menu_icon@2x.png");

        }

    } // .li.navi_menu_guide a
    li.navi_facebook a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/fb.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/fb@2x.png");

        }

    } // .li.navi_facebook a
    li.navi_insta a {
        //retina_bg
        background-repeat: no-repeat;
        display: inline-block;
        line-height: 40px;
        padding-left: 50px;

        background-image: url("../images/top_sp/insta.png");
        background-size: 40px 40px;

        @media screen and (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 2dppx) {

            background-image: url("../images/top_sp/insta@2x.png");

        }

    } // .li.navi_insta a
} // .pc_navi_li
@media (max-width: 550px) {

    .pc_navi {
        display: none;
    }

} // min-width: 550px
// header
/**************************************/

// 左コンテンツ
.contents {
    background-color: #ddd;
    justify-content: space-between;
    @media (max-width: 768px) {}
}
    #carousel .owl-theme .owl-dots .owl-dot span {
        width: 10px;
        height: 5px;
        margin: 5px 7px;
        background: #D6D6D6;
        display: block;
        -webkit-backface-visibility: visible;
        transition: opacity .2s ease;
        border-radius: 0;
    }
    h1 {
        text-align: center;
    }

    h2 {
        color: #898069;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    h3 {
        color: #898069;
        font-size: 1.6rem;
        margin-bottom: 1rem;
        padding-top: 15px;
    }

    .shoppingguide {
        display: flex;
        flex-direction: row;
    }

    .otodoke {
        width: 347px;
        height: 264px;
        border: 1px solid #ccc;
        background-color: #ffffff;
    }

    .kessai {
        width: 347px;
        height: 264px;
        border: 1px solid #ccc;
        background-color: #ffffff;
    }

    @media (max-width: 768px) {
        .shoppingguide {
            display: flex;
            flex-direction: column;
        }

        .otodoke {
            width: 100%;
            height: 478px;
            border: 1px solid #ccc;
            background-color: #ffffff;
        }

        .kessai {
            width: 100%;
            height: 478px;
            border: 1px solid #ccc;
            background-color: #ffffff;
        }
    }




 // フッター
@media (max-width: 550px) {
    .box {
        width: calc(100% - 20px);
    }
}

.footer {
    font-size: 0;
}

ul {
    padding-left: 0;

    /* ★これを追加、それ以外は上記と全く同じ */
    font-size: 0;
    text-align: center;
}

li {
    font-size: 12px;
    margin: 10px;
    padding: 10px;
    display: inline-block;
    box-sizing: border-box;
}

.copy {
    color: #898069;
    text-align: center;
    font-size: 10px;
}
